html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

// TAG ANGULAR NG-CLOAK
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


// TAG BOOTSTRAP OVERRIDES
.container-fluid, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(14,116,175);

  .col-xs-12 {
    padding: 0px;
  }
}


.row {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
  background-color: rgb(14,116,175);
}


// TAG NAVIGATON
nav {
  background-color: black;
  color: white;
  height: 50px;

  .name {
    color: white;
    line-height: 45px; 
    font-size: 2.2em;
  }

  .navlinks ul {
    list-style: none;
    line-height: 40px; 
    text-align: right;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: white;
      }

      a:hover {
        color: black;
        background-color: white;
      }
    }
  }

}

// TAG LOGIN/REGISTER
#login-register {
  form {
    width: 500px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }
}


// Fixes for deprecated styles
b {
  font-weight: bold;
}

i {
  font-style: italic;
}
