doctype html
//if IE 9
  html.lt-ie10(lang='en')
html(ng-app='teamstream', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title teamstream - collaboration simplified.
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='custom/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='custom/gumby/css/gumby.css')
    link(rel='stylesheet', href='/index.css')
    link(rel='stylesheet', href='views/home/home.css')
    link(rel='stylesheet', href='views/dash/dash.css')
    link(rel='stylesheet', href='views/project/project.css')
    link(rel='stylesheet', href='views/project/sidebar.css')
    link(rel='stylesheet', href='/vendor/jqueryte/dist/jquery-te-1.4.0.css')
  body
    .container-fluid
      //-OLD LAYOUT
      //- .row
      //-   .col-xs-12
      //-     include views/nav/nav
      .row.full-height
        include views/nav/nav
        .col-xs-12
          div(ui-view)

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='/vendor/ng-file-upload/angular-file-upload-all.min.js')
    script(src='/custom/directives/textangular-sanitize.min.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/socket.io/socket.io.js')
    script(src='/vendor/tinymce/tinymce.min.js')
    script(src='/vendor/angular-ui-tinymce/src/tinymce.js')
    script(src='/vendor/ng-file-upload/angular-file-upload-all.min.js')
    script(src="/vendor/angular-gravatar/build/md5.js")
    script(src="/vendor/angular-gravatar/build/angular-gravatar.js")



    script(src='/index.js')
    script(src='/factories/user.js')
    script(src='/factories/project.js')
    script(src='/factories/room.js')
    script(src='/views/users/users.js')
    script(src='/views/home/home.js')
    script(src='/views/dash/dash.js')
    script(src='/views/project/project.js')
    script(src='/views/project/stream-list.js')
    script(src='/views/nav/nav.js')

