// TAG LANDING PAGE

#top {
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  padding-bottom: 10px;

  .short-logo {
    background-image: url("../../assets/images/short-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 300px;
    margin:0 auto;
  }
  
  .top-header {
    line-height: 75px;
    font-size: 4em;
    color: white;
  }

  .top-body {
    font-size: 2em;
  }

  .landing {
    margin-top: 30px;
    color: white;
    
    p {
      font-size: 2em;
      display: inline-block;
    }

    .btn {
      display: inline-block;
    }
    
  }


}

#statement {
  background-color: white;
  height: 100%;
  padding: 10px;
}

#tutorial_part_1 {
  height: 500px;
  padding: 10px;

  .content {
    color: white;
  }
}

#tutorial_part_2 {
  background-color: white;
  height: 615px;
  padding: 10px;
}

#tutorial_part_3 {
  height: 100%;
  padding: 10px;
  .content {
    color: white;
  }
}

.content {
  padding: 10px;
  height: 100%;
  width: 60%;
  margin: 0px auto;

  .content-body {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 16px; 
  }

  .sample-project {
    background-image: url('../../assets/images/screenshots/shot1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border: 1px solid black;
    height: 600px;
  }
}

.tutorial-sizes {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border: 1px solid black;
}

.create-a-project {
  background-image: url('../../assets/images/screenshots/shot4.png');
  .tutorial-sizes;
  height: 400px;
}

.create-a-stream {
  background-image: url('../../assets/images/screenshots/shot5.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
  width: 314px;
  height: 514px;
  border: 1px solid black;
}


.create-a-segment {
  background-image: url('../../assets/images/screenshots/shot2.png');
  .tutorial-sizes;
  height: 600px;
}






