.row.full-height
  .col-xs-12.full-height
    .row.full-height
      .col-xs-12
        #top
          .short-logo
          .top-header collaboration simplified
          .landing
            .signup-login(ng-hide='rootuser.username') 
              p(style='display: block;') It's free. Give it a go!
              .btn.secondary.large.metro(ui-sref='register'): a(href='') Sign Up
              p or
              .btn.secondary.large.metro(ui-sref='login'): a(href='') Login
            .goto-dashboard(ng-show='rootuser.username')
              p(style='display: block;') You've already signed up!
              .btn.secondary.large.metro(ui-sref='dashboard'): a(href='') Go to Dashboard
        #statement
          .content
            .content-body
              p By utilizing WebSockets, teamstream is a simplified stream and segment system that allows you and your team to collaborate in real time.
               | From large scale to small scale, create as many stream or segments as needed. Once done, archive them to be viewed as a history or edit them
               | as much as you like.  

              h5 teamstream project

            .sample-project
  
            .content-body
              p Work with others or work alone. It's up to you.

        #tutorial_part_1
          .content
            .content-body
              p Creating a new project by clicking the gray 'Create Project' button, then you're off to the races!
              .create-a-project

        #tutorial_part_2
          .content
            .content-body
              p Using the toolbar, add a collaborator by email if they have registered, create a new stream, or see everyone's activities.
              .create-a-stream
              p You'll want to create a few streams to in order to delegate specific tasks. 

        #tutorial_part_3
          .content
            .content-body
              p Each stream can contain multiple segments and each segment can have any number of replies. 
                | Once done, archive them or unarchive them. It's up to you!
              .create-a-segment
              p Drag and drop images or PDF files onto a specific segment in order to upload them to your project!





