#nav1.row.navbar.metro(style='min-width: 100%' ng-controller='NavCtrl')
  .col-xs-2
    h4.logo
      a(href="#") teamstream
  .col-xs-8(style='text-align: center;')
    a(href="#")
      img.middle-logo(src="http://www.clker.com/cliparts/O/v/c/b/i/6/generic-logo-hi.png")
  .col-xs-1
  .col-xs-1
    ul(ng-cloak)
      li
        a(href='' ng-hide='rootuser.username'): img(src='http://th02.deviantart.net/fs70/PRE/f/2013/055/c/0/anonymous_facebook_by_jokermr-d5w22w0.png')
        a(ui-sref='dashboard' ng-show='rootuser.username'): img(gravatar-src="user" gravatar-size="100")
        .dropdown
           ul.right(ng-show='!rootuser.username')
             li: a(ui-sref='login') Login
             li: a(ui-sref='register') Register
           ul.right(ng-show='rootuser.username')
             li: .nav-user-name {{rootuser.username}}
             li: a(ui-sref='home') Home
             li: a(ui-sref='dashboard') Dashboard
             li: a(href='' ng-click='logout()') Logout
