#login-register
  .row
    .col-xs-12
      h2 {{mode}}
      form
        .form-group
          label(for='username') Username
          input.form-control(type='text', name='username', ng-model='user.username', autofocus)
        .form-group
          label(for='password') Password
          input.form-control(type='password', name='password', ng-model='user.password')
        .row
            button.btn.btn-default(ng-click='submit()') Submit
