#toggle(ng-click='toggleSidebar();')
  i.fa.fa-angle-right(ng-show='barIsVisible')
  i.fa.fa-angle-left(ng-hide='barIsVisible')
#side-bar
  label Online Users
  .online-users(ng-show='onlineUsers.length >= 1')
    .box.staggerFadeIn(ng-repeat='user in onlineUsers track by user')
      img(gravatar-src="user" gravatar-size="100")
      .online-circle
  .add-collaborator
    form
      label Add Collaborator
      input(type='text' ng-model='email')
      button(style='display: none', ng-click='addCollaborator(email)') submit

  label Streams
  #stream-list
    a.add(href='' ng-click='streamModal = true')  add stream
    .stream-sector.fadeIn(ng-repeat='s in streamList track by s.id' ng-click='getSegments(s.id)' ng-class='{"current-selected": selectedStream === {{s.id}}, "not-current": selectedStream !== {{s.id}}}') 
      span {{s.name}}
      .stream-controls
        a(href='' ng-hide='streamEdit' ng-click='streamEdit = true') edit
        a(href='' ng-show='streamEdit' ng-click='streamEdit = false; editStream(s.id, s.name)') save
        a(href='' ng-hide='streamEdit' ng-click='deleteStream(s.id, s.name)') delete
      .stream-edit(ng-show='streamEdit')
        form
          input(type='text' ng-model='s.name')

      
  label Activity Monitor
  .activity-monitor
    .activity(ng-repeat='a in activity') {{a}}

  