#toggle(ng-click='toggleSidebar();')
  i.fa.fa-angle-right(ng-show='barIsVisible')
  i.fa.fa-angle-left(ng-hide='barIsVisible')
#side-bar
  label Online Users
  .online-users(ng-show='onlineUsers.length >= 1')
    .box(ng-repeat='user in onlineUsers')
      img(gravatar-src="user" gravatar-size="100")
      .online-circle
  .add-collaborator
    form
      label Add Collaborator
      input(type='text' ng-model='email')
      button(style='display: none', ng-click='addCollaborator(email)') submit 
      
  label Activity Monitor
  .activity-monitor
    .activity(ng-repeat='a in activity') {{a}}

  