.row
  .col-xs-12
    .row
      //STREAM LIST
      .col-sm-6.sector-padding
        #stream-list
          a.add(href='' ng-click='streamModal = true')  add stream
          .stream-sector(ng-repeat='s in streamList' ng-click='getSegments(s.id)' ng-class='{"current-selected": selectedStream === {{s.id}}, "not-current": selectedStream !== {{s.id}}}') {{s.name}}
            .stream-controls
              a(href='') edit
              a(href='' ng-click='deleteStream(s.id)') delete
      //STREAM VIEW
      .col-sm-6.sector-padding
        #stream-view
          a.add(href='' ng-click='segmentModal = true' ng-show='selectedStream') add segment
          //SEGMENTS DISPLAY
          .segment(ng-repeat='s in segments track by s.id')
            .row.seg-top
              .col-xs-10
                .seg-created {{s.created_on | date}}
              .col-xs-2
                .seg-creator {{s.creator}}
            .seg-body(ng-bind-html='s.body')
            .seg-edited-by(ng-show='s.edited_by') <em style='font-size: 12px;'> Last edit by: {{s.edited_by}} on {{s.date_edited | date}} </em>
            //EDIT SEGMENT
            a(href='' ng-hide='segEdit' ng-click='segEdit = true') edit
            span &nbsp;
            a(href='' ng-click='deleteSegment(s.id)') delete 
            a(href='' ng-show='segEdit' ng-click='segEdit = false; editSegment(s.id, s.body)') save
            span &nbsp;
            a(href='' ng-show='segEdit' ng-click='segEdit = false;') cancel
            .seg-edit(ng-show='segEdit')
              form
                textarea(ui-tinymce, ng-model='s.body')
            .seg-attachments(ng-hide='s.attachments[0] === null')
              hr
              h5 attachments:
              .attachment(ng-repeat='a in s.attachments track by a'): a(href='{{a}}') {{a}}
            //TOGGLE REPLIES
            .seg-messages
              .hide-show(ng-click='showReplys($event)')
                span(style='display: none') show replies &nbsp;
                i.fa.fa-angle-double-down(style='display: none')
                span hide replies &nbsp;
                i.fa.fa-angle-double-up
              .seg-reply(ng-repeat='r in s.replys track by r.id | orderBy : "created_on"')
                .rep-top
                  .col-xs-10
                    .rep-created {{r.created_on | date}}
                  .col-xs-2
                    .rep-creator {{r.creator}}
                .rep-body {{r.body}}
              //REPLY CONTROLS
              a(href='' ng-hide='reply' ng-click='reply = true') reply
              a(href='' ng-show='reply' ng-click='reply = false; createReply(s.id);') submit 
              span &nbsp;
              a(href='' ng-show='reply' ng-click='reply = false; replyForm.body = ""') cancel
              .replyForm(ng-show='reply')
                form(novalidate)
                  textarea(type='text' ng-model='replyForm.body')

//MODALS
#create-stream(ng-show='streamModal')
  form(novalidate)
    .x(ng-click='streamModal = false'): i.fa.fa-times
    h4 Create Stream
    p Enter a name for this stream:
    input(type='text' ng-model='streamForm.name')
    button.create(ng-click='streamModal = false; createStream();') Submit

#create-segment(ng-show='segmentModal')
  form(novalidate)
    .x(ng-click='segmentModal = false'): i.fa.fa-times
    h4 Create Segment
    p Enter a body for this segment:
    textarea(type='text' ng-model='segmentForm.body')
    button.create(ng-click='segmentModal = false; createSegment();') Submit



